:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

div.black-scr-menu {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600%;
  z-index: 2;
  display: none;
}

div.box1 {
  background-image: url(/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50rem;
}

div.box1 .navbar {
  display: flex;

  /* justify-content: center;
    align-content: center;  */
  height: 10rem;
}

.navbar img#logo {
  position: absolute;
  top: 3rem;
  left: 5%;
  z-index: 2;
}

.navbar .ham {
  background-color: transparent;
  border: none;
  position: absolute;
  left: auto;
  right: 5%;
  top: 3.3rem;
}

.navbar #ham-close {
  background-color: transparent;
  border: none;
  position: absolute;
  left: auto;
  right: 5%;
  top: 3.3rem;
  z-index: 2;
  display: none;
}

#nav-ul {
  z-index: 2;
  list-style: none;
  position: absolute;
  top: 15rem;
  left: 5rem;
  display: none;
}

#nav-ul li {
  font-family: "Josefin sans", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  color: #fff;
  line-height: 3.2rem;
  text-transform: uppercase;
}

#nav-ul li:hover {
  text-decoration: underline;
}

div.box-for-text {
  border: 2px solid white;
  width: 90%;
  margin: auto;
  padding: 1.5rem;
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
}

div.box-for-text h1 {
  font-family: "Josefin Sans", sans serif;
  font-weight: lighter;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
}

div.box2 {
  /* margin-top: 8rem; */
  display: flex;
  flex-direction: column;
}

img#img-2 {
  display: block;
  width: 80%;
  margin: 8rem auto 5rem auto;
}

div.box2 h1 {
  font-family: "Josefin Sans", sans serif;
  font-weight: lighter;
  font-size: 2.2rem;
  color: black;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  margin: auto;
  line-height: 2.5rem;
}

div.box2 p {
  margin: 1rem auto 0 auto;
  text-align: center;
  width: 70%;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--DarkGray);
  font-family: "Alata", sans-serif;
}

div.box-3 {
  display: grid;
  width: 85%;
  margin: auto;
  grid-template-rows: repeat(9, 10rem);
  row-gap: 2rem;
}

div.box-3 h1 {
  font-family: "Josefin Sans", sans serif;
  font-weight: lighter;
  font-size: 2.2rem;
  color: black;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  margin: auto;
  line-height: 2.5rem;
  position: relative;
  top: 2rem;
}
h2 {
  font-family: "Josefin Sans", sans serif;
  font-weight: lighter;
  font-size: 2rem;
  text-transform: uppercase;
  width: 40%;
  color: white;
  position: relative;
  left: 3.2rem;
  top: 4rem;
}

div.sec1 {
  background-image: url(images/mobile/image-deep-earth.jpg);
  background-size: 100% 100%;
}

div.sec2 {
  background-image: url(images/mobile/image-night-arcade.jpg);
  background-size: 100% 100%;
}

div.sec3 {
  background-image: url(images/mobile/image-soccer-team.jpg);
  background-size: 100% 100%;
}

div.sec4 {
  background-image: url(images/mobile/image-grid.jpg);
  background-size: 100% 100%;
}

div.sec5 {
  background-image: url(images/mobile/image-from-above.jpg);
  background-size: 100% 100%;
}

div.sec6 {
  background-image: url(images/mobile/image-pocket-borealis.jpg);
  background-size: 100% 100%;
}

div.sec7 {
  background-image: url(images/mobile/image-curiosity.jpg);
  background-size: 100% 100%;
}

div.sec8 {
  background-image: url(images/mobile/image-fisheye.jpg);
  background-size: 100% 100%;
}

div.btn {
    display: inline;
    margin: auto;
}

button.see-all {
  border: 2px solid black;
  font-family: "Josefin sans", sans-serif;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  font-size: 16px;
  font-weight: bolder;
  height: 3rem;
  width: 11rem;
  margin: auto;
}

button.see-all:hover {
  color: white;
  background-color: black;
}

footer {
  background-color: black;
  color: #fff;
  font-family: "Alata", sans-serif;
  margin-top: 5rem;
}

#footer-logo {
  display: block;
  margin: 3rem auto;
}

footer ul {
  list-style: none;
  margin-bottom: 2rem;
}
footer ul li {
  text-align: center;
  line-height: 3rem;
}

footer ul li:hover {
  text-decoration: underline;
}

div.social-media {
  display: flex;
  justify-content: center;
}

div.social-media img {
  margin: 0.5rem;
}

div.social-media img:hover {
  text-decoration: underline;
}

.footer-p {
  color: var(--DarkGray);
  font-size: 16px;
  text-align: center;
  margin: 2rem;
}

@media screen and (min-width: 700px) {
  div.box1 {
    background-image: url(images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 28rem;
    margin-bottom: 0;
  }

  div.box1 .navbar {
    display: flex;
    /* justify-content: center;
        align-content: center;  */
    height: 10rem;
  }

  .navbar img#logo {
    position: absolute;
    top: 3rem;
    left: 10%;
    z-index: 2;
  }

  .navbar .ham {
    display: none;
  }

  #nav-ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 2.5rem;
    right: 15%;
    left: auto;
   
  }

  #nav-ul li {
    font-size: 1rem;
    text-transform:none;
    margin-left: 1.5rem;
    font-weight: normal;
    /* position: absolute; */
  }

  div.box-for-text {
    width: 432px;
    margin: 0;
    position: absolute;
    top: 10rem;
    left: 10%;
  }

  div.box-for-text h1 {
    width: 353px;
    position: relative;
  }

  div.box2 {
    /* margin-top: 8rem; */
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: relative;
    bottom: 16rem;
    left: 24rem;
    margin-bottom: 0;
  }

  img#img-2 {
    display: block;
    width: 50%;
    margin: 6rem auto 5rem 10%;
  }

  div.box2 h1 {
    width: 385px;
    text-align: left;
    margin: 2rem auto 0 4rem;
  }

  div.box2 p {
    margin: 2rem auto 0 4rem;
    text-align: left;
    width: 540px;
  }

  div.box-3 {
    display: grid;
    /* width: 85%; */
    grid-template-columns: repeat(4, 12rem);
    grid-template-rows: 6rem 22rem 22rem ;
    gap: 2rem;
    width: 70%;
    margin: 0 auto 0 auto;
  }

  div.box-3  .sec0 {
  
    text-align: left;
    grid-column: 1 / 3;
    margin: 0;
  }

  .sec0 h1 {
      display: inline;
      text-align: left;
    
  }

  h2 {
    width: 80%;
    font-size: 28px;
    position: relative;
    top: 17rem;
    left: 1.8rem;
  }

  div.sec1 {
    background-image: url(images/desktop/image-deep-earth.jpg);
    background-size: 100% 100%;
    grid-column: 1 / 2 ;
  }

  div.sec2 {
    background-image: url(images/desktop/image-night-arcade.jpg);
    background-size: 100% 100%;
  }

  div.sec3 {
    background-image: url(images/desktop/image-soccer-team.jpg);
    background-size: 100% 100%;
  }

  div.sec4 {
    background-image: url(images/desktop/image-grid.jpg);
    background-size: 100% 100%;
  }

  div.sec5 {
    background-image: url(images/desktop/image-from-above.jpg);
    background-size: 100% 100%;
  }

  div.sec6 {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
    background-size: 100% 100%;
  }

  div.sec7 {
    background-image: url(images/desktop/image-curiosity.jpg);
    background-size: 100% 100%;
  }

  div.sec8 {
    background-image: url(images/desktop/image-fisheye.jpg);
    background-size: 100% 100%;
  }

   div.btn  {
    display: flex;
    grid-column: 4/5;
    grid-row: 1/2;
  }
   div.btn button {
       justify-content: flex-start;
   }


  footer {
    background-color: black;
    color: #fff;
    font-family: "Alata", sans-serif;
    margin-top: 5rem;
  }

  #footer-logo {
    display: block;
    margin: 3rem auto  auto 6rem ;
  }

  footer ul {
    list-style: none;
    margin-bottom: 2rem;
    display:flex;
    margin: 1rem auto auto  6rem;
  }

  footer ul li {
      margin-right:2rem ;
  }

  div.social-media {
    display: flex;
    justify-content:flex-end;
    margin-right: 2rem;
  }

  div.social-media img {
    margin: 0.5rem;
  }

  .footer-p {
      position: relative;
      left: auto;
   
margin: 2rem 2rem 2rem auto;

  }

}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
